<div>
	<div class="success-field">
	  <%= f.label :success_note %><br />
	  <%= f.text_field :note %>
	</div>
	<div class="success-field">
	  <%= f.label :success_response_structure %><br />
	  <%= f.text_area :success_structure %>
	</div>
</div>